.logo{
    width: 100px;
    height: 100px;
}
body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.text-description{
    top: 100px;
    position: absolute;
    margin-left: 300px;
    margin-right: 200px;
    font-size: 20px;
}
.feedback{
    position: absolute;
    margin-left: 300px;
    margin-right: 200px;
}
.calc{
    top: 200px;
    position: absolute;
    margin-left: 600px;
}
.index-img{
    width: 700px;
    height: 300px;
    position: absolute;
    margin-left: 300px;
    top: 0;
}
.feedback-img{
    width: 700px;
    height: 300px;
    position: absolute;
    margin-left: 400px;
    top: 0;
}