{% extends "base.html" %}

{% block content %}
<div class="calc">
    <h1>Калькулятор</h1>
    <form action="{{ url_for('calc') }}" method="POST">
        {{ form.hidden_tag() }}

        <label for="num1">Число 1:</label>
        {{ form.num1(class="form-control", id="num1") }}
        <br>
        <label for="num2">Число 2:</label>
        {{ form.num2(class="form-control", id="num2") }}
        <br>
        <label for="operation">Выберите операцию:</label>
        {{ form.operation(class="form-control", id="operation") }}
        <br>
        <button type="submit" class="btn btn-primary">Вычислить</button>
    </form>
    {% if result is defined %}
    <h2>Результат: {{ result }}</h2>
</div>
{% endif %}
{% endblock %}