{% extends "base.html" %}
{% block content %}

<div class="feedback">
    <div class="feedback-div">
        <h1 class="hfeedback text-light">Здесь Вы можете запросить обратную связь</h1>
    </div>

    <form class="feedback-form" method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group text-light">
            {{ form.name.label }}
            {{ form.name(size=20, class="form-control") }}
        </div>

        <div class="form-group text-light">
            {{ form.email.label }}
            {{ form.email(size=20, class="form-control") }}
        </div>

        <div class="form-group text-light">
            {{ form.message.label }}
            {{ form.message(cols=30, rows=10, class="form-control") }}
        </div>

        <div class="g-recaptcha" data-sitekey="6Lcj6N0pAAAAAFAPzAYPRb5DnHhBm0TvwIyW24qC"></div>

        <input type="submit" value="Отправить" class="btn btn-success">
    </form>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock %}
